*, body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    background-color: rgb(25,25,25);
    
}

.pixeboy {
  font-family: 'VT323', monospace;
}

.sansserif {
  font-family: "Magnetic Pro Black","Arial Black",sans-serif;
}
  
.monospace {
  font-family: "Eight-bit","Lucida Console","Lucida Sans Typewriter",monospace;
}
  
.cursive {
  font-family: cursive;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header{
  height: 100vh;
  margin-bottom: 10vh;
}

nav{
  width: 100%;
  height: 8vh;
  margin-bottom: 2px;
  
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: #38678e;
  text-align: center;
  font-size: 1.5em;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  color: honeydew;
  background-color: #38678e;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 90vh;   
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    /* border: 1px solid #38678e; */
    border-radius: 10px;
    color: honeydew;

}

.wrapper h1 {
    color: honeydew;
}

.wrapper p {
  color: #38678e;
  font-size: 1.5em;
}

.wrapper .box span{
  font-size: 2em;

  text-shadow:
    -1px -1px 0 #38678e,
    1px -1px 0 #38678e,
    -1px 1px 0 #38678e,
    1px 1px 0 #38678e;
}

.box {
    /* border: 1px solid white; */
    border-radius: 10px;
}

.box1 {
  /* flex-grow: 4; */
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 10px 15px 28px -1px #38678e;
}

.box2{
  /* flex-grow: 1; */
  padding-top: 20px;
  height: 20vh;
}

.box2 img{
  height: 80px;
  width: 80px;
}

.wrapper .down :hover{
  transform: translateY(0.5em);
  transition: 0.5s;
}

.wrapper .down{
  /* position: relative;
  animation: myfirst 2s infinite; */
}

/* @keyframes myfirst {
  0%   { left: 0px; top: 0px;}
  50%  { left: 0px; top: 20px;}
  100% { left: 0px; top: 0px;}
} */

#main {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutMe {
  width: 80vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  box-shadow: 10px 15px 28px -1px #38678e;
  border-radius: 10px;
  color: honeydew;
}

#aboutMe div {
  
}

.aboutMe1 {
  padding: 10px;
  width: 400px;
  height: 300px;
}

.aboutMe2 {
  padding: 5px;
  height: 300px;
  width: 300px;
  font-size: 1.6em;
  line-height: 40px;
}

#resume {
  background-color: rgb(145, 58, 226);
  font-size: 1em;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

#resume:hover{
  background-color: rgb(156, 76, 230);
}

#skills {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skills {
  width: 60vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  /* box-shadow: 10px 15px 28px -1px #38678e; */
  border-radius: 10px;
  color: honeydew;
}

/* #skills div .skillset {
  width: 50%;
  height: 80%;
} */

#skills div .skillset {
  flex-basis: 40%;
  margin-top: 50px;
}

.accordion {
  background-color: #38678e;
  color: #eee;
  cursor: pointer;
  padding: 14px 30px;
  border: none;
  outline: none;
  font-size: 1.1em;
  transition: 0.4s;
  border-radius: 5px;
}

/* .active, .accordion:hover {
  background-color: #5a85a8; 
} */

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 0.7em;
  color: #eee;
  float: right;
  margin-left: 16px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.panel {
  padding: 20px 40px;
  display: none;
  width: 50%;
  /* background-color: white; */
  overflow: hidden;
  line-height: 1.8em;
}

.panel ul {
  list-style-type: none;
}

#projects {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projects {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  /* border: 1px solid brown; */
}

.projects div {
  flex-basis: 40%;
  padding: 10px;
  margin: 10px 0 10px 0;
  /* border: 1px solid red; */
}

.card {
  height: 200px;
  box-shadow: 0 4px 8px 0 #38678E;
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #38678E;
  cursor: pointer;
}

.card a{
  color: honeydew;
  text-decoration: none;
}

.card img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
}

#footer{
  height: 40vh;
  background-color: #000;
  opacity: 0.7;
  background-image: radial-gradient(#38678E 1.05px, #000 1.05px);
  background-size: 21px 21px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer .container{
  width: 80%;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  color: honeydew;
}

#footer .part{
  padding: 1.5em;
}

#footer .part p{
  margin-bottom: 10px;
}

#footer .part ul {
  list-style-type: none;
  overflow: hidden;
  display: inline-flex;
}

#footer .part ul li {
  padding: 3px;
  margin-right: 5px;
}

#footer .part ul li a {
  color: #38678E;
  text-decoration: none;
}

#footer .part ul li a:hover {
  color: honeydew ;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */
